#yappy-message {
  position: fixed;
  width: 100vw;
  text-align: center;
  height: 2rem;
  top: calc(50% - 2rem);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

#loader {
  width: 3.125rem;
  height: 3.125rem;
  position: fixed;
  left: calc(50% - 3.125rem);
  top: calc(50% - 3.125rem);

  border: 0.3rem solid transparent;
  border-top-color: #455e79;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
